body {
	margin: 0;
	padding: 0;
	background: #fff url('../imgs/pexels-andreea-ch-1166643.jpg') scroll no-repeat center center;
	background-size: cover;
	height: auto;
	font-family: 'Roboto', sans-serif;
}

.logo-wrapper {
	margin: 10vh 10vw 0;
	text-align: center;
}

.logo-wrapper img.logo {
	width: 100px;
}

.text-wrapper {
	text-align: right;
	margin: 20px 30vw 0;
	text-align: center;
}

.subscribe {
	margin-top: 30px;
}